<!DOCTYPE html>
<html lang="en">
<head>
    
    {% block title %}{% endblock title %}
    
    {% include 'train/bootstrap.html' %}
    
</head>

<body>

    {% include 'train/navigation.html' %}

    <main role="main" class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content  %}{% endblock content %}

    </main>

    {% include 'train/js.html' %}

    <script>
    $(document).ready(function(){
        {% block jquery %}{% endblock jquery %}
    })
    </script>

</body>
</html>