{% extends 'train/base_train.html' %}

{% block title %}
<title>it's train-chart</title>
{% endblock title %}

<script>
{% block jquery %}

var endpoint = '/rest/'
var x = []
var y = []

$.ajax({
	method: "GET",
	url: endpoint,

	success: function(data){
        x = data.x
        y = data.y
        create_chart_line()
	},
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

{% include 'train/create_chart_line.js' %}

{% endblock jquery %}
</script>

{% block content %}
<canvas id="my_chart" width="400" height="400"></canvas>
{% endblock content %}


